.chat-username {
    flex: 1;
    margin-right: 1rem;
    max-width: 200px;
}

.chat-message {
    flex: 1;
}

.chat-timestamp {
    width: 130px;
    text-align: end;
}

.chat-record {
    display: flex;
    flex-flow: column;
    color: var(--text-secondary);
    background: var(--bg-tertiary);
    padding: 5px 10px;
    margin: 8px 10px;
}

.my-record {
    background: var(--bg-secondary);
}

.chat-header {
    display: flex;
    justify-content: space-between;
}