<div class="background">
    <div class="card">
        <h1 style="color: #2980b9">Signin</h1>
        <div class="content">
            <div class="txt_field">
                <input type="text" required [(ngModel)]="username" (keyup)="checkInput($event)" maxlength="64" />
                <span></span>
                <label>Username</label>
                <div *ngIf="error" class="error-message">{{error}}</div>
            </div>
            <button (click)="signin()" [disabled]="!isValidInput()">Signin</button>
            <div style="margin-top: 12px;">
                <a href="/create">Create Identity</a>
            </div>
        </div>
    </div>
</div>