.container {
    display: flex;
    flex-flow: column;
    width: 68px;
    height: 100%;
    background-color: var(--bg-secondary);
}

.nav-list {
    display: flex;
    flex-flow: column;
    flex: 1;
    position: relative;
}

.left-right {
    height: 58px;
}

.nav-tile {
    width: 68px;
    height: 58px;
    flex-flow: column;
    color: var(--text-primary)
}

.tile-text {
    font-size: 10px;

}

.available {
    color: rgb(0, 82, 177);
    cursor: pointer;
}

.available:hover {
    background-color: var(--text-primary);
}