<div class="container">
    <nav class="nav-list">
        <div class="center-content" style="height: 48px;">
            <a>
                <svg class="icon-svg">
                    <use xlink:href="#previous" />
                </svg>
            </a>
            <a>
                <svg class="icon-svg">
                    <use xlink:href="#next" />
                </svg>
            </a>
        </div>
        <div class="shadow">
            <a class="center-content nav-tile">
                <svg class="icon-svg">
                    <use xlink:href="#bell" />
                </svg>
                <div class="tile-text">
                    Activity
                </div>
            </a>
            <a class="center-content nav-tile available">
                <svg class="icon-svg">
                    <use xlink:href="#chat" />
                </svg>
                <div class="tile-text">
                    Chat
                </div>
            </a>
            <a class="center-content nav-tile">
                <svg class="icon-svg">
                    <use xlink:href="#teams" />
                </svg>
                <div class="tile-text">
                    Teams
                </div>
            </a>
            <a class="center-content nav-tile">
                <svg class="icon-svg">
                    <use xlink:href="#calendar" />
                </svg>
                <div class="tile-text">
                    Calendar
                </div>
            </a>
            <a class="center-content nav-tile">
                <svg class="icon-svg">
                    <use xlink:href="#call" />
                </svg>
                <div class="tile-text">
                    Calls
                </div>
            </a>
            <a class="center-content nav-tile">
                <svg class="icon-svg">
                    <use xlink:href="#files" />
                </svg>
                <div class="tile-text">
                    Files
                </div>
            </a>
            <a class="center-content nav-tile">
                <svg class="icon-svg">
                    <use xlink:href="#more_horiz" />
                </svg>
            </a>
            <div style="flex: 1"></div>
            <a class="center-content nav-tile">
                <svg class="icon-svg">
                    <use xlink:href="#apps" />
                </svg>
                <div class="tile-text">
                    Apps
                </div>
            </a>
            <div class="center-content nav-tile">Help</div>
        </div>
    </nav>
</div>