.component-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.chat-history-wrapper {
    background: var(--bg-primary);
    height: calc(100vh - var(--search-bar-height) - var(--send-message-height));
    display: flex;
    flex-flow: column;
    align-items: center;
}

.chat-history {
    height: calc(100vh - var(--search-bar-height) - var(--send-message-height));
    overflow: auto;
    display: flex;
    flex-flow: column;
    width: 100%;
}

.input-row {
    display: flex;
    margin: 10px 5px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

button {
    height: 40px;
    border: none;
    font-size: 20px;
    font-weight: bold;
}

button:disabled {
    opacity: 0.65; 
}

button:hover:not([disabled]) {
    cursor: pointer;
    background-color: #b6b6b6;
}

.message-field {
    flex: auto;
    word-wrap: break-word;
    height: 42px;
    font-size: 18px;
    padding-left: 8px;
}

.join-row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.name-field{
    height: 1.89rem;
}