<div class="component-container">
    <div #chatHistory class="chat-history" (scroll)="onScroll($event)">
        <div *ngFor="let packet of chatService.Messages[currentChatView]">
            <app-chat-message [message]="packet" [selectedUserId]="userProfile.userId"></app-chat-message>
        </div>
    </div>
    <div class="input-row">
        <button (click)="sendMessage()" [disabled]="!initialized">Send</button>
        <input type="text" [(ngModel)]="currentMessage" class="message-field" (keyup)="checkInput($event)" [disabled]="!initialized" />
    </div>
</div>