:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #5a5a6b;
    --bg-secondary: #141418;
    --bg-tertiary: #777777;
    --transition-speed: 600ms;
    --search-bar-height: 48px;
    --send-message-height: 70px;
    --nav-panel-min-height: 570px;
}

*, *:before, *:after {
  box-sizing: border-box;
}
  
body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

app-chat {
  flex: 1;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-svg {
  width: 24px;
  height: 24px;
}
