<div class="container">
    <div class="center-content search-container">
        <div class="center-content search-input" tabindex="1">
            <div class="center-content search-icon">
                <svg class="icon-svg">
                    <use xlink:href="#lens" />
                </svg>
            </div>
            <input placeholder="Search" />
        </div>
    </div>
    <div class="center-content user-buttons">
        <div class="center-content settings">
            <div class="center-content">
                <svg class="icon-svg">
                    <use xlink:href="#more_horiz" />
                </svg>
            </div>
        </div>
        <div class="center-content user-menu">
            <div class="center-content">
                NK
            </div>
        </div>
    </div>
</div>