<div class="container">
    <div style="flex: 1;"></div>
    <div class="icon">
        V
    </div>
    <div class="icon">
        V
    </div>
    <div class="icon">
        P
    </div>
    <div class="icon">
        A
    </div>
    <div class="icon">
        P
    </div>
    <div class="search-input">
        <input placeholder="Search" />
        <svg class="lens">
            <use xlink:href="#lens" />
        </svg>
    </div>
    <div class="icon">
        A
    </div>
    <div class="icon">
        P
    </div>
</div>