.container {
    height: 36px;
    display: flex;
}

.search-input {
    display: inline-flex;
    align-items: center;
    height: 32px;
    background-color: var(--text-primary);
    border-radius: 6px;
}

.search-input > input {
    border: none;
    color: inherit;
    background-color: inherit;
    font-size: 18px;
    font-weight: inherit;
    width: 100%;
    margin: 0 5px;
}

.icon {
    width: 32px;
    height: 32px;
}

.lens {
    width: 16px;
    height: 16px;
    margin-right: 9px;
  }