.container {
    height: 38px;
    display: flex;
    align-items: center;
}

.search-input {
    display: inline-flex;
    align-items: center;
    height: 32px;
    background-color: var(--text-primary);
    border-radius: 6px;
}

.search-input  {
    > input {
        border: none;
        color: inherit;
        background-color: inherit;
        font-size: 18px;
        font-weight: inherit;
        width: 100%;
        margin: 0 5px;
    }

    > input:focus {
        outline: none;
    }

    margin: 0 3px;
}

.icon {
    width: 32px;
    height: 32px;
    border: solid 1px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 3px;
    cursor: pointer;
    background-color: var(--bg-tertiary);
}

.lens {
    width: 16px;
    height: 16px;
    margin-right: 9px;
  }